Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.0
keyutils==0.6
kiwisolver==1.4.4
LibAppArmor==3.1.2
MarkupSafe==2.1.1
matplotlib==3.6.2
networkx==2.8.8
npyscreen==4.10.5
nspektr==0.4.0
numpy==1.23.5
openpyxl==3.0.10
pandas==1.5.2
pandas-profiling==3.5.0
Pillow==9.4.0
platformdirs==2.6.2
plotly==5.11.0
ply==3.11
protobuf==3.20.3
pydeck==0.8.0
python-decouple==3.6
scikit-learn==1.2.1
scipy==1.9.3
seaborn==0.12.1
sklearn==0.0.post1
streamlit==1.19.0


